@model E_Commerce.Models.Product

@{
    ViewData["Title"] = "Details";
}

<main>
    <!--================Single Product Area =================-->
    <div style="margin-top: 30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="product_img_slide owl-carousel">
                        <div class="single_product_img">
                            @{
                                // Retrieve the image URL from a server-side variable
                                var imageUrl = Model.Image;
                            }
                            <img style="width:300px" src="@imageUrl" alt="#" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text ">
                        <h2>
                            @Model.Name
                        </h2>
                        <p>
                            @Model.ProductDescription
                        </p>
                        <div class="row">
                            <div class="col-lg-4">
                                <h3>In Stock:  </h3>
                                <h3>Price:</h3>
                                <h3>Category:</h3>
                                <h3>Seller:</h3>
                            </div>
                            <div class="col-lg-8">
                                <p> @Model.NumInStock</p> 
                                <p>@Model.Price</p>
                                <p>@Model?.Category?.Name</p>
                                <p>@Model?.Seller?.Name</p>
                            </div>
                            <div class="add_to_cart">
                                <form asp-controller="Cart" asp-action="AddToCart">
                                    <input type="hidden" name="productId" value="@Model?.ProductId" />
                                    <input type="hidden" name="price" value="@Model?.Price" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <input class="btn btn-danger" type="submit" value="Add to cart" />
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
</main>