@model IEnumerable<E_Commerce.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<main>
        <!-- Latest Products Start -->
        <section class="popular-items">
            <div class="container">
                <div class="row product-btn justify-content-between mb-40">
                    @*<div class="properties__button">
                        <!--Nav Button  -->
                        <nav>                                                      
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NewestArrivals</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Price high to low</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Most populer </a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>*@
                    <!-- Grid and List view -->
                    <div class="grid-list-view">
                    </div>
                    <!-- Select items -->
                    @*<div class="select-this">
                        <form action="#">
                            <div class="select-itms">
                                <select name="select" id="select1">
                                    <option value="">40 per page</option>
                                    <option value="">50 per page</option>
                                    <option value="">60 per page</option>
                                    <option value="">70 per page</option>
                                </select>
                            </div>
                        </form>
                    </div>*@
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                        @foreach (var item in Model)
                        {
                            <form style="display:none" method="post" id="@item.Name" asp-controller="Cart" asp-action="AddToCart">
                                <input type="text" name="productId" value="@item.ProductId">
                                <input type="text" name="quantity" value="1">
                                <input type="text" name="price" value="@item.Price">
                            </form>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <img src=" @Html.DisplayFor(modelItem => item.Image)" alt="">
                                        <div class="img-cap">
                                            <span><input form="@item.Name" style="background:none; border:none" type="submit" value="Add to cart" /></span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId"> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                                        <span>$ @Html.DisplayFor(modelItem => item.Price)  </span>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
        
    </main>

@*    @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
    {
        <input type="hidden" data=" @Html.DisplayFor(modelItem => item.Seller.Id)">
        <input type="hidden" data="@Html.DisplayFor(modelItem => item.Category.Id)">
        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
    }*@
                
                @*<!-- Card two -->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">

                                    <div class="popular-img">

                                        <img src=" @Html.DisplayFor(modelItem => item.Image)" alt="">
                                        <div class="img-cap">
                                            <span>Add to cart</span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="product_details.html"> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                                        <span>$ @Html.DisplayFor(modelItem => item.Price)  </span>

                                        @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
                                        {
                                            <input type="hidden" data=" @Html.DisplayFor(modelItem => item.Seller.Id)">
                                            <input type="hidden" data="@Html.DisplayFor(modelItem => item.Category.Id)">
                                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                        }
                                    </div>
                                </div>
                            </div>


                        }

                    </div>
                </div>
                <!-- Card three -->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">

                                    <div class="popular-img">

                                        <img src=" @Html.DisplayFor(modelItem => item.Image)" alt="">
                                        <div class="img-cap">
                                            <span>Add to cart</span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="product_details.html"> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                                        <span>$ @Html.DisplayFor(modelItem => item.Price)  </span>

                                        @if (User.IsInRole("Admin") || User.IsInRole("Seller"))
                                        {
                                            <input type="hidden" data=" @Html.DisplayFor(modelItem => item.Seller.Id)">
                                            <input type="hidden" data="@Html.DisplayFor(modelItem => item.Category.Id)">
                                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                        }
                                    </div>
                                </div>
                            </div>*@











