@model IEnumerable<E_Commerce.Models.Product>

<main>
    <!--? slider Area Start -->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Welcome To Our Shop!</h1>
                                @*<p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">You will find all you need</p>*@
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a asp-controller="Categories" asp-action="Index" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="assets/img/hero/hero_img.png" alt="" class=" heartbeat" style="width:180%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Welcome To Our Shop!</h1>
                                @*<p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">You will find all you need</p>*@                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                    <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="assets/img/hero/hero_img.png" alt="" class=" heartbeat" style="width:180%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--? Popular Items Start -->
    <div class="popular-items section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">


                @foreach (var item in Model)
                {
                    <form style="display:none" method="post" id="@item.Name" asp-controller="Cart" asp-action="AddToCart">
                        <input type="text" name="productId" value="@item.ProductId">
                        <input type="text" name="quantity" value="1">
                        <input type="text" name="price" value="@item.Price">
                    </form>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center">
                            <div class="popular-img">
                                <img style="height:300px" src=" @Html.DisplayFor(modelItem => item.Image)" alt="">
                                <div class="img-cap">
                                    <span><input form="@item.Name" style="background:none; border:none" type="submit" value="Add to cart" /></span>
                                </div>
                                <div class="favorit-items">
                                    <span class="flaticon-heart"></span>
                                </div>
                            </div>
                            <div class="popular-caption">
                                <h3><a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId"> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                                <span>$ @Html.DisplayFor(modelItem => item.Price)  </span>
                            </div>
                        </div>
                    </div>
                }



            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a asp-controller="Products" class="btn view-btn1">View More Products</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    <!-- Watch Choice  End-->
</main>